<!-- <h1>Artists</h1>
<hr>
<ul>
  <div *ngFor="let artist of artists">
    <li><b>Artist</b>: {{artist.name}}</li>
    <div *ngFor="let album of artist.albums">
      <ul><b>Album</b>: {{album.title}}</ul>
      <div *ngFor="let song of album.songs">
        <ul><b>Song</b>: {{song.lyrics}}</ul>
      </div> 
    </div>
  </div>
</ul> -->

<!-- Favorite artists container  -->
<div class="section">
  
  <h3 class="sectionHeader">Your Favorite <span class="green">Artists</span></h3>
  <input class="searchInput" [(ngModel)]="searchText" placeholder="search all music..."/>

  <!-- Artist List -->
    <div class="itemListContainer">
    <ul class="itemList">

      <li *ngFor="let artist of artists | filter : searchText" class="itemContainer artist">
        <img class="itemPhoto" src="img/JohnMayer.jpg" alt="Photo Goes Here">
        <h5 class="itemName"><a class="artistLink" href="JohnMayer.html">{{artist.name}} > </a> </h5>
      </li>

    </ul>
  </div>
</div>