<!-- Container with searchbar contents -->
<div class="searchContainer">
  <input class="searchInput" [(ngModel)]="searchText" placeholder="search all music..."/>
  <i class=" fa fa-search"></i>
</div>

<!-- Profile Dashboard -->
<div class="section account">
  <div class="c1">
      <a href="#ffaa" class="circle">5</a>
      <h4>Favorite Artists</h4>
  </div>
  <div class="c2">
      <a href="#ffal" class="circle">4</a>
      <h4>Favorite Albums</h4>
  </div>
  <div class="c3">
      <a href="#ffs" class="circle">6</a>
      <h4>Favorite Songs</h4>
  </div>
  
</div>




<div id="ffaa" class="section">
  
  <h3 class="sectionHeader">Your Favorite <span class="green">Artists</span></h3>
  

  <!-- Artist List -->
    <div class="itemListContainer">
    <ul class="itemList">

      <li *ngFor="let artist of artists | filter : searchText" class="itemContainer artist">
        <img class="itemPhoto" src="../../assets/{{artist._id}}.jpg" alt="Photo Goes Here">
        <h5 class="itemName"><a class="artistLink" href="http://localhost:4200/api/artist/{{artist._id}}">{{artist.name}} > </a> </h5>
      </li>

    </ul>
  </div>
</div>

<!-- Album List -->
<div id="ffal" class="section lighter">

  <h3 class="sectionHeader">Your Favorite <span class="green">Albums</span></h3>
  <div class="itemListContainer">
      
     
    <ul class="itemList albumList">
      <li *ngFor="let album of albums" class="itemContainer album">
        <img class="albumImage" src="../../assets/something.jpg" alt="Photo Goes Here">
        <h5 class="itemName albumName">{{album.title}}</h5>
      </li>
    </ul>
  </div>
</div>

<!-- Song List -->
<div id="ffs" class="section">
  <h3 class="sectionHeader">Your Favorite <span class="green">Songs</span></h3>
  <div class="itemListContainer">
    <ul class="itemList songList">

      <li *ngFor="let song of songs" class="itemContainer song">
        <img class="songImage" src="img/WincingTheNightAway.jpg" alt="Ed Sheeran Photo">
        <h5 class="songName">{{ song.name }}</h5>
        <h5 class="artistName itemName">{{ song.artist }}</h5>
      </li>
    </ul>
  </div>
</div>

<!-- Footer -->

<div class="section footer">
  
      </div>
  


