@media screen and (max-width: 693px){
  .header{
    display: grid;
    grid-template-columns: 275px 1fr 1fr;
    overflow: visible;
  }
  .link{
    display: none;
  }
  .fa-bars{
    visibility: visible;
    margin: 15px 0 0 15px;
  }
  .logo{
    margin: 10px 0 0 45px;
  }
  .itemList{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .albumList{
    grid-template-columns: 1fr;
  }
  .itemContainer{
    margin: 0;
  }
  .shown{
    z-index: 2;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    left: 0;
    top: 50px;
    width: 97.5vw;
    transition: none;
    margin-bottom: 100px;
  }
  .shown-side{
    display: inline;
    color: #929292;
    z-index: 3;
  }

  .full-width-nav{
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    position: absolute;
    left: 0;
    height: 50px;
    top: 50px;
    width: 100vw;
    background-color: white;
    z-index: 2;
    box-shadow: inset 1px -1px 15px #cccccc;
  }
  .wider{
    width: 98.5vw;
  }
  .category{
    width: 70px;
    height: 70px;
    float: bottom;
  }
}

@media screen and (max-width: 560px){
  .itemList{
    grid-template-columns: 1fr 1fr;
  }
  .albumList{
    grid-template-columns: 1fr;
  }
}
