<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Discovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/medium.css">
    <link rel="stylesheet" href="css/small.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>

    <!-- Header containing logo, nav, and search  -->
    <div class="header">
      <div class="logoContainer">
        <i class="fa fa-bars"></i>
        <h2 class="logo">music<span class="green">discovery</span> <i class="fa fa-music"></i></h1>
      </div>

      <!-- Container with navbar elements -->
      <div class="navbarContainer">
        <ul class="navbar">
          <li class="active"><a class="link" href="index.html">Home</a></li>
          <li><a class="link" href="profile.html">Profile</a></li>
          <li><a class="link" href="#">Logout</a></li>
        </ul>
      </div>

      <!-- Container with searchbar contents -->
      <div class="searchContainer">
        <input class="searchInput" placeholder="search all music..."/>
        <i class=" fa fa-search"></i>
      </div>
    </div>

    <!-- Profile Dashboard -->
    <div class="section account">
      <div class="c1">
          <a href="#ffaa" class="circle">5</a>
          <h4>Favorite Artists</h3>
      </div>
      <div class="c2">
          <a href="#ffal" class="circle">4</a>
          <h4>Favorite Albums</h4>
      </div>
      <div class="c3">
          <a href="#ffs" class="circle">6</a>
          <h4>Favorite Songs</h4>
      </div>
      
    </div>

    <!-- Favorite artists container  -->
    <div id="ffaa" class="section artist">

      <h3  class="sectionHeader">Your Favorite <span class="green">Artists</span></h3>


      <!-- Artist List -->
      <div class="itemListContainer">
        <ul class="itemList">

          <li class="itemContainer artist">
            <img class="itemPhoto" src="img/JohnMayer.jpg" alt="John Mayer Photo">
            <h5 class="itemName"><a class="artistLink" href="JohnMayer.html">John Mayer > </a> </h5>
          </li>

          <li class="itemContainer artist">
            <img class="itemPhoto" src="img/EdSheeran.jpg" alt="Ed Sheeran Photo">
            <h5 class="itemName"><a class="artistLink" href="#">Ed Sheeran > </a> </h5>
          </li>

          <li class="itemContainer artist">
            <img class="itemPhoto" src="img/TheBeatles.jpg" alt="Ed Sheeran Photo">
            <h5 class="itemName"><a class="artistLink" href="#">The Beatles > </a> </h5>
          </li>


          <li class="itemContainer artist">
            <img class="itemPhoto" src="img/JackJohnson.jpg" alt="Jack Johnson Photo">
            <h5 class="itemName"><a class="artistLink" href="#">Jack Johnson > </a> </h5>
          </li>

          <li class="itemContainer artist">
            <img class="itemPhoto" src="img/MichaelJackson.jpg" alt="Artist4 Photo">
            <h5 class="itemName"><a class="artistLink" href="#">Michael Jackson > </a> </h5>
          </li>
        </ul>
      </div>
    </div>

    <!-- Favorite albums container  -->
    <div id="ffal" class="section lighter">

      <h3  class="sectionHeader">Your Favorite <span class="green">Albums</span></h3>


      <!-- Album List -->
      <div class="itemListContainer">
        <ul class="itemList albumList">

          <li class="itemContainer album">
            <div class="options"></div>
            <img class="albumImage" src="img/WincingTheNightAway.jpg" alt="Ed Sheeran Photo">

            <h5 class="itemName">Wincing the Night Away</h5>
          </li>

          <li class="itemContainer album">
              <div class="options"></div>
            <img class="albumImage" src="img/Dookie.jpg" alt="Ed Sheeran Photo">
            <h5 class="itemName">Dookie</h5>
          </li>


          <li class="itemContainer album">
              <div class="options"></div>
            <img class="albumImage" src="img/NothingButTheBest.jpg" alt="Jack Johnson Photo">
            <h5 class="itemName">Nothing But The Best</h5>
          </li>

          <li class="itemContainer album">
              <div class="options"></div>
            <img class="albumImage" src="img/ElCamino.jpg" alt="Artist4 Photo">
            <h5 class="itemName">El Camino</h5>
          </li>
        </ul>
      </div>
    </div>


    <!-- Favorite songs container  -->
    <div id="ffs"  class="section">

      <h3 class="sectionHeader">Your Favorite <span class="green">Songs</span></h3>


      <!-- Song List -->
      <div class="itemListContainer">
        <ul class="itemList songList">

          <li class="itemContainer song">
            <img class="songImage" src="img/WincingTheNightAway.jpg" alt="Ed Sheeran Photo">
            <h5 class="songName">A Comet Appears</h5>
            <h5 class="artistName itemName">The Shins</h5>
          </li>

          <li class="itemContainer song">
            <img class="songImage" src="img/NothingButTheBest.jpg" alt="Ed Sheeran Photo">
            <h5 class="songName">Nothing But The Best</h5>
            <h5 class="artistName itemName">Frank Sinatra</h5>
          </li>

          <li class="itemContainer song">
            <img class="songImage" src="img/Dookie.jpg" alt="Ed Sheeran Photo">
            <h5 class=" songName">Burnout</h5>
            <h5 class="artistName itemName">Green Day</h5>
          </li>

          <li class="itemContainer song">
            <img class="songImage" src="img/BattleStudies.jpg" alt="Ed Sheeran Photo">
            <h5 class="songName">Heartbreak Warfare</h5>
            <h5 class="artistName itemName">John Mayer</h5>
          </li>

          <li class="itemContainer song">
            <img class="songImage" src="img/BornAndRaised.jpg" alt="Ed Sheeran Photo">
            <h5 class="songName">Born and Raised</h5>
            <h5 class="artistName itemName">John Mayer</h5>
          </li>

          <li class="itemContainer song">
            <img class="songImage" src="img/Continuum.jpg" alt="Ed Sheeran Photo">
            <h5 class=" songName">Waiting on the World to Change</h5>
            <h5 class="artistName itemName">John Mayer</h5>
          </li>


        </ul>
      </div>
    </div>
    <div class="section footer">

    </div>




  </body>
</html>
