<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Discovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/medium.css">
    <link rel="stylesheet" href="css/artist.css">
    <link rel="stylesheet" href="css/small.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>

    <!-- Header containing logo, nav, and search  -->
    <div class="header">
      <div class="logoContainer">
        <i class="fa fa-bars"></i>
        <h2 class="logo">music<span class="green">discovery</span> <i class="fa fa-music"></i></h1>
      </div>

      <!-- Container with navbar elements -->
      <div class="navbarContainer">
        <ul class="navbar">
          <li><a class="link" href="index.html">Home</a></li>
          <li><a class="link" href="profile.html">Profile</a></li>
          <li><a class="link" href="#">Logout</a></li>
        </ul>
      </div>

      <!-- Container with searchbar contents -->
      <div class="searchContainer">
        <input class="searchInput" placeholder="search all music..."/>
        <i class=" fa fa-search"></i>
      </div>
    </div>

    <div class="coverContainer">
      <div class="coverPhotoContainer">

      </div>
      <h2 class="artistName">John Mayer</h2>
      <p class="bio">
        John Clayton Mayer is an American singer-songwriter, guitarist, and producer. He was born in Bridgeport, Connecticut, and raised in nearby Fairfield. He attended Berklee College of Music in Boston, but disenrolled and moved to Atlanta in 1997 with Clay Cook. Together, they formed a short-lived two-man band called Lo-Fi Masters. After their split, Mayer continued to play local clubs—refining his skills and gaining a following. After his appearance at the 2001 South by Southwest Festival, he was signed to Aware Records, and then Columbia Records, which released his first EP, Inside Wants Out. His following two full-length albums—Room for Squares (2001) and Heavier Things (2003)—did well commercially, achieving multi-platinum status. In 2003, he won the Grammy Award for Best Male Pop Vocal Performance for the single "Your Body Is a Wonderland".
      </p>
      <div class="categoryContainer">
        <img title="Rock" class="category acoustic" src="img/Acoustic.png" alt="">
        <img class="category rock" src="img/Rock.png" alt="">
        <img class="category blues" src="img/Blues.png" alt="">
      </div>
    </div>

      <h3 class="sectionHeader green">Albums</h3>
    <div class="itemListContainer artistItems">
      <ul class="itemList albumList">

        <li class="itemContainer album">
          <img class="albumImage" src="img/Continuum.jpg" alt="Ed Sheeran Photo">
          <h5 class="itemName">Continuum</h5>
        </li>

        <li class="itemContainer album">
          <img class="albumImage" src="img/BornAndRaised.jpg" alt="Ed Sheeran Photo">
          <h5 class="itemName">Born and Raised</h5>
        </li>


        <li class="itemContainer album">
          <img class="albumImage" src="img/RoomForSquares.jpg" alt="Jack Johnson Photo">
          <h5 class="itemName">Room for Squares</h5>
        </li>

        <li class="itemContainer album">
          <img class="albumImage" src="img/BattleStudies.jpg" alt="Artist4 Photo">
          <h5 class="itemName">Battle Studies</h5>
        </li>

        <li class="itemContainer album">
          <img class="albumImage" src="img/ParadiseValley.jpg" alt="Artist4 Photo">
          <h5 class="itemName">Paradise Valley</h5>
        </li>
      </ul>
    </div>

    <h3 class="sectionHeader green">Songs</h3>





  </body>
</html>
