/* Reset all default css*/
*{
  color: #929292;

  font-family: "helvetica neue";
}

/* Form stuff */
.formContainer{
  display: inline-block;
  text-align: center;
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.form-input{
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  width: 40vw;
  height: 35px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px #dddddd;
}
.form-input::placeholder{
  color: #929292;
  font-size: 18px;
}
.registerButton {
  box-shadow: 1px 1px 10px #cccccc;
  width: 15vw;
  height: 35px;
  border-radius: 5px;
  margin: 0 auto;
  border: 0;
  font-size: 20px;
  background-color: #cccccc;
  transition: transform 300ms;
  cursor: pointer;
} 
.registerButton:hover{
  transform: scale(1.2);
}

body{
  background-color: #ecf0f1;
  height: 100%;
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
/* Header */
.header{
 z-index: 1000;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #E3E7E8;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr;
  grid-column-align: center;
}
.logoContainer{
  justify-self: stretch;
}
.logo{
    margin: 10px 0 0 15px;
}
.fa-music{
  color: #444444;
  margin-left: -8px;
}
.fa-bars{
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}
  /* navBarContainer */
  .navBarContainer{
    justify-self: end;
  }
  .navbar{
    display: inline;
  }

  .navbar li{
    display: inline-block;
    padding-bottom: 5px;
    margin: 15px;
  }
  .link{
    text-decoration: none;
    transition: all 300ms;
    
  }
  .link:hover{
    margin-bottom: 20px;
  }
  .active{
    border-bottom: 2px solid #929292;
  }

  /**/

  /* searchContainer */
  .searchContainer{
    grid-column: 4;
    justify-self: end;
    height: 44px;
  }
  .searchInput{
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    z-index: 2;
    background-color: transparent;
    height: 48px;
    position: absolute;
    right: 0;
    font-size: 18px;
    padding-left: 10px;
    color: black;
    transition: all 300ms;
    width: 300px;
    border: 0;
    border-left: 3px solid #929292;

  }
  .searchInput::placeholder{
    color: #555555;
  }
  .searchInput:focus{
    outline: none;
  }

  .searchButton:focus{
    outline: none;
  }
  .fa-search{
    margin: 15px 15px 0 0;
    visibility: hidden;

  }
  .wider{
    width: 350px;
  }
  /**/
/**/
.section{
  display: grid;
  margin-top: 60px;
}

/* Account */
.account{
  /* background-image: url('../img/repeating.png'); */
  background-attachment: fixed;
  background-size: 175px 175px;
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  grid-template-areas: 
 "p p p p a a a b b b c c c"
 "p p p p a a a b b b c c c"
 "p p p p a a a b b b c c c";
 align-items: center;
  
}
.circle{
  position: relative;
  text-decoration: none;
  justify-self: center;
  font-size: 1.5em;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  text-align: center;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgba(128, 128, 128,.3);
  transition: all 300ms;
  cursor: pointer;
}
.circle:hover{
  background-color: rgb(128, 128, 128);
}
.c1{

  grid-area: a;
}
.c2{
  grid-area: b;
}
.c3{
  grid-area: c;
}


/* favArtists */

.sectionHeader{
  text-align: center;
  color: #929292;
}
.green{
  color: #444444;
}
  /* artistListContainer */
  .itemListContainer{
    width: 100%;
    
    /*margin: 0 10vw;*/
  }
  .itemList{
    padding: 0;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    grid-row-gap: 70px;
    height: 100%;
  }
  .itemContainer{
    
    justify-self: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #999999;

    transition: all 100ms;

  }
  .expandItem{
    height: 165px;
    margin-bottom: -15px;
  }

  .itemPhoto{

    transition: all 300ms;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  .itemPhoto:hover{
    transform: scale(1.02);
    animation-timing-function: ease-in;
    box-shadow: 3px 3px 10px #999999;
  }
  .itemName{
    height: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    color: #929292;
  }
  .artistLink{
    border-radius: 5px;
    text-decoration: none;
    transition: all 300ms;
    border: 2px solid transparent;
    padding: 10px;
  }
  .artistLink:hover{
    border: 2px solid #929292;
    box-shadow: 3px 3px 10px #cccccc;
  }
  /**/
/**/

/* Fav Albums*/
  .lighter{
    background-color: rgba(0,0,0,.04);
    padding-bottom: 50px;
    margin-top: 100px;
    border-radius: 10px;
  }
  .albumList{
    
    grid-template-columns: 1fr 1fr;
  }
  .album{
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: 0;
    transition: all 300ms;
    position: relative;
  }
  .album:hover{
    cursor: pointer;
    transform: scale(1.03);
  }

  .albumOptions{
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
  }
  .albumName{
    margin-top: 300px;
  }

  .albumImage{
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  .fa-sort-desc{
    position: absolute;
    top: 0;
    right: 0;
  }
/**/


/* Fav Songs*/
  .songList{
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .songImage{
    width: 50px;
    height: 50px;
  }
  .song{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    height: 50px;
    width: 47vw;
    box-shadow: 2px 2px 10px #bbbbbb;
    overflow: hidden;
  }

  .artistName{
    justify-self: end;
    margin-right: 10px;
    margin-top: 17px;
  }

  .songName{
    height: 15px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 17px;
    color: #929292;
    display: inline-block;
    margin-top: 15px;
  }





/**/
.footer{
  height: 200px;
  /* background-image: url('../img/repeating.png'); */
  background-attachment: fixed;
  background-size: 175px 175px;
}

/* Animations */
  @keyframes fade-in{
    0%{
      opacity: 0
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0%{
      transform: translateY(100px);
    }
    100%{
      transform: translateY(0);
    }
  }






/**/

@media screen and (min-width: 1000px){
  .albumList{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .songList{
    grid-gap: 10px;
    grid-template-columns:  1fr 1fr;
  }

}
@media screen and (max-width: 891px){
  .header{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
  }
  .hidden{
    transition: all 300ms;
    display: none;
  }
  .searchInput{
    display: none;
  }
  .shown{
    z-index: 1;
    animation-name: slide-up;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    position: absolute;
    left: 35vw;
    display: block;
    width: 55vw;

  }
  .searchButton{
    display: none;
  }
  .searchContainer{
      background-color: transparent;
    margin-right: 0;
  }

  .itemList{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .albumList{
    grid-template-columns: 1fr 1fr;
  }
  .songList{
    grid-template-columns: 1fr;
  }
  .song{
    width: 90vw;
  }

  .fa-search{
    z-index: 5;
    visibility: visible;
    cursor: pointer;
    transition: all 300ms;
    margin: 15px 15px 0 0;
  }
  .fa-search:hover{
    transform: scale(1.3);
  }
}

@media screen and (max-width: 693px){
  .header{
    display: grid;
    grid-template-columns: 275px 1fr 1fr;
    overflow: visible;
  }
  .link{
    display: none;
  }
  .fa-bars{
    visibility: visible;
    margin: 15px 0 0 15px;
  }
  .logo{
    margin: 10px 0 0 45px;
  }
  .itemList{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .albumList{
    grid-template-columns: 1fr;
  }
  .songList{
    grid-template-columns: 1fr;
  }
  .itemContainer{
    margin: 0;
  }
  .shown{
    z-index: 2;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    left: 0;
    top: 50px;
    width: 97.5vw;
    transition: none;
    margin-bottom: 100px;
  }
  .shown-side{
    display: inline;
    color: #929292;
    z-index: 3;
  }

  .full-width-nav{
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    position: absolute;
    left: 0;
    height: 50px;
    top: 50px;
    width: 100vw;
    background-color: white;
    z-index: 2;
    box-shadow: inset 1px -1px 15px #cccccc;
  }
  .wider{
    width: 98.5vw;
  }
  .category{
    width: 70px;
    height: 70px;
    float: bottom;
  }
  .searchInput{
    background-color: white;
  }
}

@media screen and (max-width: 560px){
  .itemList{
    grid-template-columns: 1fr 1fr;
  }
  .albumList{
    grid-template-columns: 1fr;
  }
  .songList{
    grid-template-columns: 1fr;
  }
}
