
<h2 class="sectionHeader" style="margin-top: 125px">Register</h2>
<form class="formContainer" (submit)="onRegisterSubmit()">
  <div class="form-group">
    <input placeholder="Name" class="form-input" type="text" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group">
    
    <input placeholder="Email" class="form-input" type="text" [(ngModel)]="email" name="email">
  </div>
  <div class="form-group">
    
    <input placeholder="Username" class="form-input" type="text" [(ngModel)]="username" name="username">
  </div>
  <div class="form-group">
    
    <input placeholder="Password" class="form-input" type="password" [(ngModel)]="password" name="password">
  </div>
  <div class="form-group">

    <input placeholder="Confirm Password" class="form-input" type="password" [(ngModel)]="confirmPassword" name="confirmPassword">
  </div>
  <input class="registerButton" type="submit" value="Sign Up">
</form>
