
<!-- Header containing logo, nav, and search  -->
<div class="header">
  <div class="logoContainer">
    <i class="fa fa-bars"></i>
    <h2 class="logo">music<span class="green">discovery</span> <i class="fa fa-music"></i></h2>
  </div>

  <!-- Container with navbar elements -->
  <div class="navbarContainer">
    <ul class="navbar">
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="link" [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li *ngIf="authService.loggedIn()">
          <a class="link" [routerLink]="['/add-artist']">Add Artist</a>
        </li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="link" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="authService.loggedIn()">
          <a class="link"  (click)="onLogout()" href="/">Logout</a>
        </li>
    </ul>
  </div>
 
  
</div>
